body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

#searchContainer {
  margin-top: 10px;
}

#searchInput {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

#searchButton {
  padding: 10px;
  font-size: 16px;
}

#pokemonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.pokemonCard {
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.pokemonCard:hover {
  background-color: #e2e2e2;
}

.pokemonImage {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  display: block;
}

.pokemonName {
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}

.pokemonType {
  text-align: center;
  margin-top: 5px;
}